@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 1.5rem;
}
*, body {
  margin: 0;
  padding: 0;
}
.content {
  font-family: sans-serif;
}
body {
  background: #ffffff;
}
li {
  list-style-type: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: none;
}
.top-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: .8rem;
  border-bottom: .098rem solid #f5f5ff;
  margin-top: 1rem;
  padding-right: 6rem;
  padding-left: 6rem;
}
.top-content p, .contact-number {
  border-left: .098rem solid #f5f5f5;
  border-right: .098rem solid #f5f5f5;
  padding: 0rem .5rem;
  color: #7e7d7d;
}
.contact {
  /* border-right: .098rem solid #f5f5ff; */
  padding-right: .6rem;
}
.contact-icons {
  padding: 0 .5rem;
}
.menu {
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: space-between !important;
  margin:0rem 6rem 0rem ;
}
.menu a {
  font-size: 1rem;
  color: #5c5b5b;
  padding:.5rem .9rem ;
}
.menu li a:hover{
  background-color:#1F6233;
  color: #ffffff !important;
  text-decoration: none;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-nav {
  padding-top: 1.5rem;
}
.faculty {
  background: url("https://res.cloudinary.com/kinkidy/image/upload/v1606123305/accutefarms/acct.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1F6233;
  color: #ffffff;
  padding: 2rem 0;
}
.faculty-title {
  padding: 5rem;
  margin: 8rem 5rem 2rem 5rem ;
  background-color: rgba(146, 145, 145, 0.452);
  width: 40%;
  line-height: 1.5rem;
}
.faculty-title  h1{
  padding-bottom: 1.5rem;
}
.faculty h1 {
  padding-bottom: 1.5rem;
}
.faculty strong {
  color: #b9b6b6;
}
.our-service {
  background-color: #F4F4F4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgba(105, 102, 102, 0.616);
  padding-top: 5rem;
  font-size: larger;
}
.teachers {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem 4rem;
  padding: 5rem 7rem 7rem 5.5rem;
  text-align: center;
}
.teacher {
  text-align: center;
  border: .5px rgb(184, 184, 184) solid;
  background: white;
  padding-bottom: 2rem;
}
.teacher p {
  color: #a09f9f;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.teacher img {
  height:100%;
  width: 100%;
}
.teacher-name {
  padding: 1rem 0 1.5rem;
  font-weight: 600;
  color: #5c5b5b !important;
}
.teacher-course {
  font-size: .8rem;
}
.about {
  padding: 5rem 0 5rem 5.5rem;
  color: #999898;
  border-left: 10rem solid #1F6233;
  line-height: 1.5rem;
}
.about h1 {
  padding-bottom: 2rem;
}
.product-section {
  padding-top: 8rem ;
  text-align: center;
  background-color: #F4F4F4;
  color: #999898;
  text-align: left;
}
.products {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem 4rem;
  padding: 3rem 7rem 7rem 5.5rem;
  text-align: center;
}
.product-section h1 {
  margin-left: 5.5rem;
  padding-left: 1rem;
  border-left: 3.5px solid green;
}
.product {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.product-name {
  padding: 3rem 0 0 1rem;
  text-align: left;
  border-top: 1px solid rgba(0, 128, 0, 0.199);
  border-bottom: 1px solid rgba(0, 128, 0, 0.233);
  border-right: 1px solid rgba(0, 128, 0, 0.247);
}
.product-name h3 {
  padding-bottom: 1rem;
  color: #7c7c7c;
}
.product-name p {
  line-height: 1.5rem;
}
video, .w3-third img {
  width:400px ;
  min-height: 350px;
  max-height:350px ;
  text-align: center;
}
.gallery {
  padding: 2rem 1rem 3.5rem ;
}

.w3-row-padding {
  text-align: center;
  width: 100%;
  height:400px ;
  margin: 0 auto;
}
.w3-container h1 {
  margin:2rem 0 2rem 5rem;
  padding-left: 1rem;
  border-left: 3.5px solid green;
}
.footer {
  background-color: #1F6233;
}
.footer .quicklinks {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem 4rem;
  text-align: left;
  color: #cecece;
  padding: 5rem;
  padding-right: 0;
}
.quicklinks h4 {
  color: #ffffff;
}
.about-educator p {
  color: #ffffff;
}
.quicklink h4 {
  margin-bottom: 1.4rem;
  letter-spacing: .16rem;
}
.quicklink p, a {
  line-height: 1.5rem;
  font-size: .8rem;
}
.quicklink li {
  display: block;
}
.footer-copyright{
  color: #d1d1d1;
  text-align: left;
  font-size: .8rem;
  padding:2rem 5.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  background-color: rgb(4, 51, 18);
}
/*underconstruction*/
.underconstruction-content {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem 4rem;
}
.section {
  width: 50%;
  padding-top: 5rem;
  padding-bottom: 13rem;
}
.left-section {
  height: 10rem;
  margin-left: 10rem;
}
.right-section {
  font-family: 'Montserrat', sans-serif;
  color: rgba(105, 102, 102, 0.616);
  padding-top: 8rem;
}

/*Services*/
.sfaculty {
  background: url("https://res.cloudinary.com/kinkidy/image/upload/v1605779342/accutefarms/farming.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1F6233;
  color: #ffffff;
  padding: 2rem 0;
}
.service-page{
  background-color: #F4F4F4;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: rgba(105, 102, 102, 0.616);
  padding-top: 5rem;
  font-size: larger;
}
.service-page h1 {
  border-left:5rem solid #1F6233;
  padding-left: 3rem;
}
.services {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem 4rem;
  padding: 5rem 7rem 7rem 5.5rem;
  text-align: center;
}
.service {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  text-align: left;
  padding-bottom: 3rem;
}
.service-name {
  width: auto;
  border-bottom: 3px solid #1F6233;
  padding-left: 0 !important;
  padding-bottom: 0.5rem !important;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 0 1.5rem;
  font-weight: 600;
  color: #5c5b5b !important;
}
.service p {
  color: #a09f9f;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.service-img {
  width :100%;
}
.service img {
  height:100%;
  width: 100%;
}

/*Product section page*/
.pfaculty {
  background: url("https://res.cloudinary.com/kinkidy/image/upload/v1605779337/accutefarms/export.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1F6233;
  color: #ffffff;
  padding: 2rem 0;
}
.product-section-page {
  padding-top: 5rem;
}
.product-section-page .products {
  padding-top: 5rem;
}
.product-section-page h1 {
  border-left:5rem solid #1F6233;
  padding-left: 3rem;
}

/*about page*/
.afaculty {
  background: url("https://res.cloudinary.com/kinkidy/image/upload/v1605779318/accutefarms/track.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1F6233;
  color: #ffffff;
  padding: 2rem 0;
}
.about-page {
  padding: 3rem 0 3rem;
  color: #999898;
  line-height: 1.5rem;
}
.about-page h1{
  border-left:5rem solid #1F6233;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.about-page p {
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
}
/*Contact page*/
.contact-page {
  padding: 5rem 0 5rem;
  color: #999898;
  line-height: 1.5rem;
}
.contact-page h1{
  border-left:5rem solid #1F6233;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.contact-page p, h3 {
  margin-left: 8rem;
}
.contact-social {
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  text-align: left;
}
.contact-name {
  width: auto;
  border-bottom: 3px solid #1F6233;
  margin-bottom: 2rem;
  padding: 5rem 0 1.5rem;
  font-weight: 600;
  color: #5c5b5b !important;
  margin-left: 8rem;
}
.contact-social .contact-name {
  width: auto;
  border-bottom: 3px solid #1F6233;
  margin-bottom: 2rem;
  padding: 1rem 0 1.5rem;
  font-weight: 600;
  color: #5c5b5b !important;
  margin-left: 8rem;
  margin-top: 0rem;
}
.contact-name p, h3 {
  margin-left: 0rem;
}
.contact-page ul {
  margin-left: 8rem;
}
.contact-page li {
  display: block;
}


/*
  RESPONSIVE
  */

@media only screen and (max-width: 1080px) {
  .menu {
      margin: 0rem 3rem 0rem;
  }
  .navbar-toggler {
    height: 3rem;
    margin-top: 1.2rem;
  }
  .w3-third, video {
    width:300px !important;
    height:313px !important;
  }
}
  /* Responsiveness */
@media (max-width: 1080px) {
  .top-content {
    font-size: .6rem;
    padding-right: 3rem;
  }
  .menu a {
    font-size: .8rem;
    padding:.5rem .9rem ;
  }
  .navbar-nav {
    margin-bottom: 2rem;
    width: 100%;
}
  .footer {
    font-size: .6rem;
  }
  .footer-copyright{
    color: #d1d1d1;
    font-size: .6rem;
    padding:1rem 5.5rem;
  }
}
@media (max-width: 991px) {
  .navbar-nav li {
    margin: .5rem;
  }
  .menu{
    text-align: center;
  }
  .service {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    text-align: left;
    padding-bottom: 3rem;
}
}
@media (max-width:721px) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
@media (max-width: 702px) {
.top-content {
  padding-right: .5rem;
  padding-left: .5rem;
  }
.top-content p, .contact-number {
  border-right: none;
  border-left: none;
  }
  .menu {
    margin: 0rem .5rem 0rem;
}
  .faculty-title {
    width: auto;
  }
  .teacher-name {
    padding-bottom: 0;
  }
  .about {
    padding: 2.5rem 1rem 2.5rem 3.5rem;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  .product-section {
    padding-top: 3rem;
  }
  .faculty-title {
    margin: 3rem 5rem 2rem 5rem;
  }
  .services {
    padding: 5rem 1rem 7rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;
  }
  .service-p{
    width: 100%;
  }
  .about-page p {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .faculty-title {
    padding: 1rem;
  }
  .about {
    border-left: 2rem solid #1F6233;
}
.about-page h1 {
  border-left: 2rem solid #1F6233;
}
  .product {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 3rem 3rem 7rem;
  }
  .teachers {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 5rem 7rem 7rem 3rem;
  }
  .contact-social  .contact-name{
    margin-left: 2rem;
  }
  .contact-name, .contact-social {
    margin-left: 2rem;
  }
  .contact-page p {
    margin-left: 3rem;
}
  .contact-page ul {
    margin-left: 3rem;
}
  .footer .quicklinks {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem 4rem;
    padding: 5rem 2rem 0;
    padding-right: 0;
}
.footer-copyright{
  padding:1rem;
  text-align: center;
}
}
@media (max-width: 450px) {
  .top-content {
    padding-right: 0rem;
    padding-left: 0rem;
}
  .faculty-title {
    margin: 3rem 1rem 2rem 1rem;
}
.gallery {
  padding: 2rem 1rem 3.5rem 2.5rem;
}
.w3-container h1 {
  margin:2rem 0 2rem .5rem;
  padding-left: 1rem;
  border-left: 3.5px solid green;
}
}
